{{- if .Values.linkerdEnabled }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: {{ .Release.Namespace }}-namespace-tagger
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: namespace-tagger
spec:
  privileged: false
  allowPrivilegeEscalation: false
  hostNetwork: false
  hostIPC: false
  hostPID: false
  readOnlyRootFilesystem: false
  allowedCapabilities:
    - NET_ADMIN
    - NET_RAW
    - NET_BIND_SERVICE
  requiredDropCapabilities:
    - ALL
  fsGroup:
    rule: MustRunAs
    ranges:
    - max: 65535
      min: 1
  runAsGroup:
    rule: MustRunAs
    ranges:
    - max: 65535
      min: 1
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  volumes:
  - secret
  - emptyDir
  - configMap
  - projected
  - downwardAPI
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: namespace-tagger
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: namespace-tagger
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  resourceNames:
  - {{ .Release.Namespace }}
  verbs:
  - "*"
- apiGroups: ['policy', 'extensions']
  resources: ['podsecuritypolicies']
  verbs:     ['use']
  resourceNames:
  - {{ .Release.Namespace }}-namespace-tagger
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: namespace-tagger
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: namespace-tagger
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: namespace-tagger
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-weight": "-4"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: namespace-tagger
subjects:
  - kind: ServiceAccount
    name: namespace-tagger
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: namespace-tagger
  namespace: {{ .Release.Namespace }}
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: Job
metadata:
  name: namespace-tagger
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: namespace-tagger
spec:
  template:
    spec:
      serviceAccountName: namespace-tagger
      containers:
      - name: namespace-tagger
        image: "{{ .Values.kubectlImage.registry }}/{{ .Values.kubectlImage.name }}:{{ .Values.kubectlImage.tag }}"
        imagePullPolicy: "{{ .Values.kubectlImage.pullPolicy }}"
        command:
        - /bin/sh
        - -e
        - -x
        - -c
        - >-
          kubectl annotate ns {{ .Release.Namespace }} linkerd.io/inject=enabled;
{{- if .Values.tracingEnabled }}
          kubectl annotate ns {{ .Release.Namespace }} "config.linkerd.io/trace-collector={{ .Values.opencensusCollectorServiceName }}.{{ .Values.tracingNamespace }}.svc.cluster.local:55678";
{{- end }}
          sleep 1;
      restartPolicy: Never
  backoffLimit: 6
{{ end }}
